.cases {
  padding-block: 100px;
  background-color: var(--color-grey-97);
}
.cases__head {
  max-width: 565px;
  display: flex;
  flex-direction: column;
  margin-bottom: 56px;
}
.cases__head > *:not(:last-child) {
  margin-bottom: 15px;
}
.cases__title:not(:last-child) {
  margin-bottom: 17px;
}
.cases__text {
  font-weight: 300;
  font-size: 20px;
  line-height: 150%;
  color: var(--color-grey-42);
}
.cases__markets {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 40px;
}
.cases__markets-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--color-grey-61);
}
.cases__markets-items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 11px 9px;
}
.cases__markets-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  width: 25px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cases__markets-item img,
.cases__markets-item svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: translateZ(0);
}
.cases__items {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 20px;
}
@media (width < 48em) {
  .cases {
    padding-block: 50px;
  }
  .cases__markets {
    margin-bottom: 46px;
  }
}
@media (width < 40.625em) {
  .cases__items {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 8px;
  }
}
@media (width < 30em) {
  .cases__text {
    font-size: 16px;
    line-height: 170%;
  }
  .cases__markets-title {
    font-weight: 300;
    font-size: 12px;
  }
}
@media (width >= 40.625em) {
  .cases__items .case-card {
    flex: 1 1 290px;
    width: calc(33.333% - 20px);
  }
  .cases__items .case-card.case-card--row {
    width: calc(50% - 20px);
  }
}