.letstalk {
  padding-block: 100px 90px;
  background-color: var(--color-grey-5);
  color: var(--color-white-solid);
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.letstalk::before, .letstalk::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 350px;
  height: 350px;
  background-image: url("../assets/img/decor.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 350px;
}
.letstalk::before {
  top: -90px;
  left: -96px;
}
.letstalk::after {
  bottom: -90px;
  right: -96px;
}
.letstalk__head {
  max-width: 676px;
  width: 100%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 32px;
}
.letstalk__head > *:not(:last-child) {
  margin-bottom: 16px;
}
.letstalk__title:not(:last-child) {
  margin-bottom: 12px;
}
.letstalk__text {
  font-weight: 300;
  font-size: 20px;
  line-height: 150%;
  color: var(--color-white--600);
}
.letstalk__form {
  max-width: 440px;
  width: 100%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.letstalk__field {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.letstalk__input {
  flex: 1 1 auto;
  width: auto;
  border: 1px solid var(--color-white--150);
}
.letstalk__input.input[placeholder]:not([data-fls-placeholder-nohiden])::placeholder {
  color: var(--color-white--400);
}
.letstalk__send {
  padding-block: 14px;
  padding-inline: 24px;
  min-height: 46px;
}
.letstalk__form-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 135%;
  text-align: center;
  color: var(--color-white--350);
}
.letstalk__payments {
  margin-top: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6px;
}
.letstalk__payment {
  max-width: fit-content;
  border: 1px solid var(--color-white--400);
  border-radius: 7px;
  min-width: 56px;
  min-height: 39px;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.letstalk__payment img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
@media (width < 48em) {
  .letstalk {
    padding-block: 90px;
  }
}
@media (width < 30em) {
  .letstalk::before {
    top: -100px;
    left: -20px;
    width: 300px;
    height: 300px;
    background-size: 300px;
  }
  .letstalk::after {
    bottom: -100px;
    right: -20px;
  }
  .letstalk__text {
    font-size: 15px;
    line-height: 160%;
  }
  .letstalk__field {
    align-items: stretch;
    flex-direction: column;
  }
  .letstalk__send {
    max-width: 100%;
  }
}
@media (any-hover: hover) {
  .letstalk__input:hover {
    border-color: var(--color-white-solid);
  }
}