@charset "UTF-8";* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
address {
	font-style: normal;
}
* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
:root {
  --font-family: "Plus Jakarta Sans", sans-serif;
  --second-family: "Inter Tight", sans-serif;
  --viewport-height: 100vh;
  --viewport-height-s: 100vh;
  --font-size: 16px;
  --color-white-solid: #fff;
  --color-grey-97: #f8f8f6;
  --color-cyan-47: #2cacc6;
  --color-grey-42: #6b6b6b;
  --color-grey-88: #e2e2de;
  --color-grey-5: #0d0d0d;
  --color-grey-61: #9b9b9b;
  --color-rose-65: #e86487;
  --color-blue-75: #9b8cf5;
  --color-red-51: #dc2626;
  --color-red-82: #fca5a5;
  --color-azure-65: #9ca3af;
  --color-grey-95: #e8f8fc;
  --color-cyan-39: #1e8fa8;
  --color-spring-green-36: #1c9d5c;
  --color-spring-green-73: #86efac;
  --color-grey-94: #f0f0ee;
  --color-grey-67: #aaa;
  --color-chartreuse-green-52: #96bf48;
  --color-violet-52: #7f54b3;
  --color-orange-55: #f46f25;
  --color-rose-44: #df0067;
  --color-blue-22: #34313f;
  --color-azure-45: #0057e7;
  --color-blue-14: #1a1a2e;
  --color-azure-43: #009edb;
  --color-azure-47: #0070f2;
  --color-grey-33: #555;
  --color-red-57: #e74c3c;
  --color-orange-51: #f39c12;
  --color-orange-43: #c0791a;
  --color-rose-54: #c94c6e;
  --color-spring-green-42: #27ae60;
  --color-spring-green-29: #1a7a40;
  --color-violet-47: #8e44ad;
  --color-violet-37: #5e2d91;
  --color-white--70: rgba(255, 255, 255, 0.07);
  --color-white--100: rgba(255, 255, 255, 0.1);
  --color-white--150: rgba(255, 255, 255, 0.15);
  --color-white--300: rgba(255, 255, 255, 0.3);
  --color-white--350: rgba(255, 255, 255, 0.35);
  --color-white--400: rgba(255, 255, 255, 0.4);
  --color-white--600: rgba(255, 255, 255, 0.6);
  --color-black: #000;
  --color-black--400: rgba(0, 0, 0, 0.4);
}

@supports (height: 100dvh) {
  :root {
    --viewport-height: 100dvh;
    --viewport-height-s: 100svh;
  }
}
body {
  color: var(--color-grey-5);
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--color-white-solid);
  min-width: 320px;
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
  background-color: var(--color-white-solid);
  padding-top: var(--header-height, 0);
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 1172px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.title {
  font-family: var(--second-family);
  font-weight: 400;
  line-height: 115%;
  letter-spacing: -0.02em;
}
.title span {
  color: var(--color-cyan-47);
}
.title--h1 {
  line-height: 108%;
}
.title--h5 {
  font-size: 18px;
}
.title--h6 {
  font-size: 16px;
}

.subtitle {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.09em;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--color-cyan-47);
  display: flex;
  gap: 8px;
}
.subtitle::before {
  content: "";
  margin-top: 9px;
  flex-shrink: 0;
  width: 20px;
  height: 1px;
  background-color: currentColor;
}

.button {
  max-width: fit-content;
  width: 100%;
  min-height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-block: 12px;
  padding-inline: 32px;
  border-radius: 100px;
  background-color: var(--color-cyan-47);
  font-weight: 500;
  font-size: 14px;
  color: var(--color-white-solid);
  transition: background 0.15s, color 0.15s, border 0.15s;
}
.button:active {
  background-color: var(--color-cyan-39);
}
.button--secondary {
  border: 1px solid var(--color-grey-88);
  background-color: var(--color-white-solid);
  color: var(--color-grey-5);
}
.button--secondary:active {
  border-color: var(--color-cyan-47);
  background-color: var(--color-white-solid);
  color: var(--color-cyan-47);
}
.button--secondary.button--dark {
  border-color: var(--color-grey-5);
}
.button--secondary.button--dark:active {
  border-color: var(--color-cyan-47);
  background-color: var(--color-white-solid);
  color: var(--color-cyan-47);
}
.button--third {
  background-color: var(--color-grey-5);
}
.button--third:active {
  background-color: var(--color-grey-42);
}
.button--fw {
  flex: 1 1 auto;
  max-width: 100%;
}

.breadcrumbs {
  display: flex;
  padding-block: 26px;
}
.breadcrumbs__container {
  max-width: 1762px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
}
.breadcrumbs__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: var(--color-black);
  display: flex;
  gap: 6px;
}
.breadcrumbs__link:not(:last-child)::after {
  content: "";
  flex-shrink: 0;
  margin-top: 4px;
  width: 8px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='16' viewBox='0 0 8 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.77259 8.47377L3.00126 12.2451L2.05859 11.3024L5.35859 8.00243L2.05859 4.70243L3.00126 3.75977L6.77259 7.5311C6.89757 7.65612 6.96778 7.82566 6.96778 8.00243C6.96778 8.17921 6.89757 8.34875 6.77259 8.47377Z' fill='black' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px 16px;
  transition: background 0.3s;
}
.breadcrumbs__link[href] {
  color: var(--color-black--400);
  transition: color 0.3s;
}
.breadcrumbs__link[href]:not(:last-child)::after {
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='16' viewBox='0 0 8 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.77259 8.47377L3.00126 12.2451L2.05859 11.3024L5.35859 8.00243L2.05859 4.70243L3.00126 3.75977L6.77259 7.5311C6.89757 7.65612 6.96778 7.82566 6.96778 8.00243C6.96778 8.17921 6.89757 8.34875 6.77259 8.47377Z' fill='%2300000040' /%3E%3C/svg%3E");
}
.breadcrumbs__link[href]:not(:last-child):nth-last-child(2)::after {
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='16' viewBox='0 0 8 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.77259 8.47377L3.00126 12.2451L2.05859 11.3024L5.35859 8.00243L2.05859 4.70243L3.00126 3.75977L6.77259 7.5311C6.89757 7.65612 6.96778 7.82566 6.96778 8.00243C6.96778 8.17921 6.89757 8.34875 6.77259 8.47377Z' fill='%23000000' /%3E%3C/svg%3E");
}
.breadcrumbs__link[href]:active {
  color: var(--color-black);
}
.breadcrumbs__link[href]:active:not(:last-child)::after {
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='16' viewBox='0 0 8 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.77259 8.47377L3.00126 12.2451L2.05859 11.3024L5.35859 8.00243L2.05859 4.70243L3.00126 3.75977L6.77259 7.5311C6.89757 7.65612 6.96778 7.82566 6.96778 8.00243C6.96778 8.17921 6.89757 8.34875 6.77259 8.47377Z' fill='%23000000' /%3E%3C/svg%3E");
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  width: 100%;
  display: block;
  border: 1px solid rgba(13, 13, 13, 0.2);
  background-color: var(--color-white--70);
  border-radius: 100px;
  padding: 13px 20px;
  height: 46px;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  caret-color: inherit;
}

.input[placeholder]:not([data-fls-placeholder-nohiden])::placeholder {
  color: var(--color-grey-42);
  transition: opacity 0.3s;
}
.input[placeholder]:not([data-fls-placeholder-nohiden]):focus::placeholder {
  opacity: 0;
}

textarea.input {
  resize: none;
}

hr {
  width: 100%;
  height: 1px;
  background-color: var(--color-grey-88);
  margin-block: 24px;
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input-field__label {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.01em;
  line-height: 125%;
}
.region-block {
  max-width: fit-content;
  position: relative;
}
.region-block.sel-open {
  z-index: 5;
}
.region-block.sel-open .region-block__arrow {
  transform: rotate(-180deg);
}
.region-block.sel-open .region-block__dropdown {
  top: calc(100% + 13px);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.region-block[data-sel-block-search] .region-block__option {
  justify-content: stretch;
  text-align: left;
}
.region-block__current {
  width: 100%;
  min-width: 140px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 14px;
  gap: 8px;
  background-color: var(--color-white-solid);
  border: 1px solid rgba(13, 13, 13, 0.2);
  border-radius: 100px;
  padding-block: 12px;
  padding-inline: 14px;
  min-height: 50px;
  font-size: 15px;
  line-height: 120%;
  transition: background 0.15s, border 0.15s;
}
.region-block__current:active {
  background-color: var(--color-grey-95);
  border-color: var(--color-cyan-47);
}
.region-block__current .region-block__flag {
  font-size: 20px;
  width: 30px;
  height: 20px;
}
.region-block__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  color: var(--color-grey-42);
}
.region-block__value {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  padding-right: 16px;
}
.region-block__value > * {
  display: inline-flex;
  align-items: center;
}
.region-block__flag {
  font-size: 16px;
  line-height: 100%;
  padding-right: 8px;
  width: 25px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.region-block__flag img,
.region-block__flag svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: translateZ(0);
}
.region-block__name {
  line-height: 120%;
}
.region-block__arrow {
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.15s;
}
.region-block__arrow svg,
.region-block__arrow img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: translateZ(0);
}
.region-block__dropdown {
  transform: translateX(var(--dropdown-shift, 0));
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 5;
  width: 100%;
  min-width: 248px;
  border: 1px solid rgba(13, 13, 13, 0.2);
  border-radius: 16px;
  padding: 16px;
  background-color: var(--color-white-solid);
  display: flex;
  flex-direction: column;
  gap: 15px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: top 0.2s, opacity 0.2s, visibility 0.2s;
}
.region-block__head {
  display: flex;
  flex-direction: column;
}
.region-block__head > *:not(:last-child) {
  margin-bottom: 12px;
}
.region-block__title {
  font-weight: 500;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: -0.01em;
}
.region-block__text {
  font-weight: 500;
  font-size: 11px;
  line-height: 127%;
  color: var(--color-grey-42);
}
.region-block__text:not(:last-child) {
  margin-bottom: 16px;
}
.region-block__btn {
  max-width: 100%;
}
.region-block__btn:not(:last-child) {
  margin-bottom: 20px;
}
.region-block__scroll {
  min-height: 0;
  max-height: 210px;
  display: grid;
  overflow: hidden auto;
}
.region-block__scroll::-webkit-scrollbar {
  width: 2px;
  display: block;
}
.region-block__scroll::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0;
  border: none;
}
.region-block__scroll::-webkit-scrollbar-thumb {
  background-color: var(--color-grey-42);
  border-radius: 0;
  border: none;
  cursor: grab;
}
.region-block__scroll::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}
.region-block__options {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(13, 13, 13, 0.1);
}
.region-block__option {
  text-align: left;
  border-bottom: 1px solid rgba(13, 13, 13, 0.1);
  min-height: 38px;
  padding: 8px 14px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 11px;
  line-height: 120%;
  color: var(--color-grey-5);
  transition: color 0.15s;
}
.region-block__option:active {
  color: var(--color-grey-42);
}
.region-block__option.is-active {
  display: none;
}

.search-field {
  position: relative;
}
.search-field__input {
  height: 48px;
  border: 1px solid rgba(13, 13, 13, 0.2);
  border-radius: 100px;
  padding: 14px 40px 14px 14px;
  font-size: 14px;
  line-height: 120%;
}
.search-field__input::placeholder {
  color: var(--color-grey-42);
}
.search-field__icon {
  position: absolute;
  top: 50%;
  right: 14px;
  z-index: 2;
  transform: translate(0px, -50%);
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-grey-42);
}
.search-field__icon:active {
  color: var(--color-grey-5);
}

.lang-block {
  max-width: fit-content;
  position: relative;
}
.lang-block.is-active .lang-block__dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
}
.lang-block__current {
  width: 100%;
  background-color: var(--color-white-solid);
  border: 1px solid rgba(13, 13, 13, 0.2);
  border-radius: 100px;
  padding: 7px 12px;
  min-height: 33px;
  font-weight: 500;
  font-size: 13px;
  transition: background 0.15s, border 0.15s;
}
.lang-block__current:active {
  background-color: var(--color-grey-95);
  border-color: var(--color-cyan-47);
}
.lang-block__dropdown {
  position: absolute;
  top: calc(100% + 13px);
  right: 0;
  background: var(--color-white-solid);
  border: 1px solid rgba(13, 13, 13, 0.2);
  border-radius: 16px;
  overflow: hidden;
  min-width: 160px;
  z-index: 200;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-8px);
  pointer-events: none;
  transition: opacity 0.2s, transform 0.2s, visibility 0.2s;
}
.lang-block__link {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 10px 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 110%;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background 0.15s, color 0.15s;
}
.lang-block__link:active {
  background-color: var(--color-grey-97);
}
.lang-block__link.is-active {
  background-color: var(--color-grey-95);
  color: var(--color-cyan-47);
}
.lang-block__link.is-active::after {
  content: "✓";
  margin-left: auto;
}

.video-block {
  --video-radius: 20px;
  position: relative;
}
.video-block.is-playing {
  z-index: 5;
}
.video-block.is-playing .video-block__poster {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.video-block.is-playing .video-block__play {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.video-block__poster {
  position: absolute;
  z-index: 2;
  inset: 0;
  transform: translateZ(0);
  overflow: hidden;
  border-radius: var(--video-radius);
  pointer-events: auto;
  transition: opacity 0.2s, visibility 0.2s;
}
.video-block__poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-block__play {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%) translateZ(0);
  pointer-events: auto;
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.4);
  background-color: var(--color-white-solid);
  color: var(--color-grey-5);
  border-radius: 50px;
  width: 68px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  transition: opacity 0.2s, visibility 0.2s, box-shadow 0.2s, background 0.3s;
}
.video-block__play:active {
  box-shadow: none;
  background-color: var(--color-grey-97);
}
.video-block__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 800/475;
  border-radius: var(--video-radius);
}

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6px;
  pointer-events: none;
}
.swiper-pagination > * {
  pointer-events: all;
}

.swiper-pagination-bullet {
  border-radius: 2px;
  width: 6px;
  height: 3px;
  background-color: var(--color-white--300);
  transition: width 0.2s, background 0.2s;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 32px;
  background-color: var(--color-cyan-47);
}

.toggle-switch {
  min-width: 44px;
  width: 44px;
  height: 24px;
  border-radius: 100px;
  background-color: var(--color-cyan-47);
  position: relative;
}
.toggle-switch::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 2;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--color-white-solid);
  transition: transform 0.2s;
}
.toggle-switch.is-active::before {
  transform: translateX(20px);
}

.socials-block {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}
.socials-block__link {
  border: 1px solid var(--color-grey-88);
  border-radius: 8px;
  width: 34px;
  height: 34px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 100%;
  text-align: center;
  color: var(--color-grey-42);
  transition: border 0.15s, color 0.15s;
}
.socials-block__link img,
.socials-block__link svg {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.socials-block__link:active {
  border-color: var(--color-cyan-47);
  color: var(--color-cyan-47);
}

.marquee-slider .swiper-wrapper {
  transition-timing-function: linear;
  will-change: transform;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.marquee-slider .swiper-slide {
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.categories-block {
  display: grid;
  position: relative;
}
.categories-block.scroll::before, .categories-block.scroll::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50px;
  height: 100%;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
}
.categories-block.scroll::before {
  left: 0;
}
.categories-block.scroll::after {
  right: 0;
  background: linear-gradient(-270deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
}
.categories-block.scroll.scroll-start::before {
  display: none;
}
.categories-block.scroll.scroll-end::after {
  display: none;
}
.categories-block__wrapper {
  max-width: 100%;
  display: flex;
  align-items: center;
  gap: 7px;
  overflow: auto hidden;
  scrollbar-width: none;
}
.categories-block__wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
  appearance: none;
}
.categories-block__btn {
  flex-shrink: 0;
  max-width: fit-content;
  border: 1px solid rgba(13, 13, 13, 0.2);
  border-radius: 100px;
  padding: 14px 15px;
  min-width: 50px;
  min-height: 48px;
  white-space: nowrap;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--color-black);
  transition: background 0.15s, color 0.15s, border 0.15s;
}
.categories-block__btn:not(:first-child) {
  min-width: 150px;
}
.categories-block__btn:not(.is-active, .disabled, [disabled]):active {
  color: var(--color-grey-42);
}
.categories-block__btn.is-active {
  cursor: default;
  background-color: var(--color-grey-97);
}
.categories-block__btn.disabled, .categories-block__btn[disabled] {
  pointer-events: none;
  opacity: 0.4;
}

.filters-block {
  display: grid;
  position: relative;
  border-bottom: 1px solid rgba(107, 107, 107, 0.5);
  padding-bottom: 10px;
}
.filters-block.scroll::before, .filters-block.scroll::after {
  content: "";
  position: absolute;
  top: 0;
  width: 79px;
  height: 100%;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
}
.filters-block.scroll::before {
  left: 0;
}
.filters-block.scroll::after {
  right: 0;
  background: linear-gradient(-270deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
}
.filters-block.scroll.scroll-start::before {
  display: none;
}
.filters-block.scroll.scroll-end::after {
  display: none;
}
.filters-block__wrapper {
  max-width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  overflow: auto hidden;
  scrollbar-width: none;
}
.filters-block__wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
  appearance: none;
}
.filters-block__btn {
  white-space: nowrap;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: var(--color-grey-42);
  transition: color 0.15s;
}
.filters-block__btn:active {
  color: var(--color-grey-5);
}
.filters-block__btn.is-active {
  color: var(--color-grey-5);
}

.case-card {
  border: 1px solid var(--color-grey-88);
  background-color: var(--color-white-solid);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.case-card.case-card--full {
  grid-column: 1/-1;
  flex: 1 1 auto;
  max-width: 100%;
  width: 100%;
}
.case-card--accent {
  border: 2px solid var(--color-cyan-47);
}
.case-card--row {
  flex-direction: row;
}
.case-card__head {
  padding: 23px 20px 16px 20px;
  background: linear-gradient(154deg, #e8f8fc 0%, #f8f8f6 100%);
  display: flex;
  flex-direction: column;
}
.case-card--accent .case-card__head {
  background: linear-gradient(152deg, #f0f0ee 0%, #f8f8f6 100%);
}
.case-card__accent-badge {
  margin-block: -23px 14px;
  margin-inline: auto;
  max-width: fit-content;
  border-radius: 0 0 8px 8px;
  padding: 4px 14px;
  background-color: var(--color-cyan-47);
  font-weight: 600;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: 0.06em;
  color: var(--color-white-solid);
  display: flex;
  align-items: center;
  justify-content: center;
}
.case-card__badge {
  max-width: fit-content;
  font-weight: 600;
  font-size: 10px;
  line-height: 140%;
  color: var(--color-white-solid);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  padding: 3px 10px;
  background-color: var(--accent-color, var(--color-cyan-47));
}
.case-card__info {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.case-card__info-icon {
  border-radius: 9px;
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  background-color: var(--accent-color, var(--color-cyan-47));
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 10px;
  line-height: 140%;
  text-align: center;
  color: var(--color-white-solid);
}
.case-card__info-body {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.case-card__info-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 125%;
}
.case-card__info-text {
  font-weight: 300;
  font-size: 11px;
  line-height: 125%;
  color: var(--color-grey-42);
}
.case-card__info-text img,
.case-card__info-text svg {
  width: 11px;
  height: 11px;
  object-fit: contain;
}
.case-card__items {
  margin-top: 14px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.case-card--row .case-card__items {
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 8px;
}
.case-card__item {
  flex: 1 1 120px;
  width: calc(50% - 5px);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--color-white-solid);
}
.case-card--row .case-card__item {
  flex: 1 1 auto;
  width: 100%;
  flex-direction: row;
  gap: 8px;
}
.case-card__item-num {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 27px;
  line-height: 100%;
  color: var(--accent-color, var(--color-cyan-47));
}
.case-card__item-num.rose-color {
  color: var(--color-rose-65);
}
.case-card__item-num.cyan-color {
  color: var(--color-cyan-47);
}
.case-card--row .case-card__item-num {
  font-size: 25px;
}
.case-card__item-text {
  word-break: break-word;
  font-weight: 300;
  font-size: 10px;
  line-height: 130%;
  color: var(--color-grey-42);
}
.case-card__body {
  flex: 1 1 auto;
  border-top: 1px solid var(--color-grey-88);
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  gap: 13px;
  font-weight: 300;
  font-size: 11px;
  line-height: 150%;
  color: var(--color-grey-61);
}
.case-card__tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
}
.case-card__tag {
  max-width: fit-content;
  border-radius: 100px;
  padding: 3px 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 10px;
  line-height: 130%;
  background-color: var(--color-grey-94);
  color: var(--color-grey-33);
}
.case-card__tag.rose-color {
  background-color: var(--color-grey-95);
  color: var(--color-rose-54);
}
.case-card__tag.cyan-color {
  background-color: var(--color-grey-95);
  color: var(--color-cyan-39);
}
.case-card__tag.orange-color {
  color: var(--color-orange-43);
}
.case-card__tag.green-color {
  background-color: var(--color-grey-95);
  color: var(--color-spring-green-29);
}
.case-card__tag.violet-color {
  background-color: var(--color-grey-95);
  color: var(--color-violet-37);
}
.case-card__quote {
  font-weight: 500;
  font-size: 16px;
  line-height: 127%;
  color: var(--color-grey-42);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.case-card__pain {
  display: flex;
  align-items: start;
  gap: 6px;
}
.case-card__pain::before {
  content: "";
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 11C8.76142 11 11 8.76142 11 6C11 3.23858 8.76142 1 6 1C3.23858 1 1 3.23858 1 6C1 8.76142 3.23858 11 6 11Z' fill='%23E74C3C' /%3E%3Cpath d='M4 8L8 4M8 8L4 4' stroke='white' stroke-width='1.2' stroke-linecap='round' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
}
.case-card__bottom {
  margin-top: 10px;
  padding: 16px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.case-card__btn {
  margin-top: auto;
  flex: 0 1 auto;
  min-height: 52px;
  font-weight: 400;
  font-size: 15px;
}

.article-card {
  border: 1px solid var(--color-grey-88);
  border-radius: 16px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.article-card.article-card--full {
  grid-column: 1/-1;
  flex: 1 1 auto;
  max-width: 100%;
  width: 100%;
}
.article-card__icon {
  border-radius: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: var(--color-grey-95);
}
.article-card__icon img,
.article-card__icon svg {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.article-card__body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.article-card___title {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  word-break: break-word;
}
.article-card___title[href] {
  transition: color 0.3s;
}
.article-card___title[href]:active {
  color: var(--color-cyan-39);
}
.article-card__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 153%;
  color: var(--color-grey-42);
}
.article-card__img {
  min-height: 149px;
}
.article-card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article-card__btn {
  flex: 0 1 auto;
  min-height: 52px;
  font-weight: 400;
  font-size: 15px;
}

.plugin-card {
  border: 1px solid var(--color-grey-88);
  border-radius: 16px;
  padding: 24px 24px 43px 24px;
  background-color: var(--color-white-solid);
  display: flex;
  flex-direction: column;
}
.plugin-card > *:not(:last-child) {
  margin-bottom: 24px;
}
.plugin-card__logo {
  max-width: fit-content;
  display: flex;
}
.plugin-card__body {
  display: flex;
  flex-direction: column;
}
.plugin-card__body > *:not(:last-child) {
  margin-bottom: 24px;
}
.plugin-card__version {
  max-width: fit-content;
  border-radius: 100px;
  padding: 3px 10px;
  min-height: 20px;
  background-color: var(--color-cyan-47);
  font-weight: 600;
  font-size: 10px;
  line-height: 140%;
  color: var(--color-white-solid);
}
.plugin-card__head {
  padding-top: 7px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.plugin-card__name {
  font-family: var(--second-family);
  font-weight: 400;
}
.plugin-card__name {
  line-height: 100%;
  color: var(--color-cyan-47);
  word-break: break-word;
}
.plugin-card__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 153%;
  color: var(--color-grey-42);
}
.plugin-card__info {
  font-weight: 400;
  font-size: 16px;
  line-height: 153%;
  color: var(--color-grey-42);
}
.plugin-card__info > *:not(:last-child) {
  margin-bottom: 12px;
}
.plugin-card__info b,
.plugin-card__info strong {
  font-weight: 700;
}
.plugin-card__info > a {
  max-width: fit-content;
  display: block;
}
.plugin-card__info i {
  font-style: italic;
  font-weight: normal;
}
.plugin-card__info h1,
.plugin-card__info h2,
.plugin-card__info h3,
.plugin-card__info h4,
.plugin-card__info h5,
.plugin-card__info h6 {
  font-weight: 500;
  line-height: 125%;
  color: var(--color-grey-5);
}
.plugin-card__info h1:not(:first-child),
.plugin-card__info h2:not(:first-child),
.plugin-card__info h3:not(:first-child),
.plugin-card__info h4:not(:first-child),
.plugin-card__info h5:not(:first-child),
.plugin-card__info h6:not(:first-child) {
  margin-top: 24px;
}
.plugin-card__info h1:not(:last-child),
.plugin-card__info h2:not(:last-child),
.plugin-card__info h3:not(:last-child),
.plugin-card__info h4:not(:last-child),
.plugin-card__info h5:not(:last-child),
.plugin-card__info h6:not(:last-child) {
  margin-bottom: 12px;
}
.plugin-card__info h1 {
  font-weight: 400;
}
.plugin-card__info h1 {
  line-height: 108%;
}
.plugin-card__info h2 {
  font-weight: 400;
}
.plugin-card__info h5 {
  font-size: 18px;
}
.plugin-card__info h6 {
  font-size: 16px;
  letter-spacing: -0.01em;
}
.plugin-card__info figure:not([class]) {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 12px;
}
.plugin-card__info figure:not([class]):not(:first-child) {
  margin-top: 24px;
}
.plugin-card__info figure:not([class]):not(:last-child) {
  margin-bottom: 24px;
}
.plugin-card__info figure figcaption {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--color-grey-42);
}
.plugin-card__info a:not([class]) {
  text-decoration: underline;
  color: var(--color-cyan-47);
  word-break: break-word;
}
.plugin-card__info a:not([class]):active {
  color: var(--color-cyan-39);
  text-decoration: none;
}
.plugin-card__info ul,
.plugin-card__info ol {
  padding-left: 21px;
}
.plugin-card__info ul li {
  list-style: disc;
}
.plugin-card__info ol li {
  list-style: decimal;
}
.plugin-card__info ul.list-check,
.plugin-card__info ol.list-check {
  gap: 8px;
}
.plugin-card__info ul.list-check li,
.plugin-card__info ol.list-check li {
  list-style: none;
  position: relative;
  padding-left: 20px;
}
.plugin-card__info ul.list-check li::before,
.plugin-card__info ol.list-check li::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 18px;
  height: 18px;
  background-image: url("../assets/img/check.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
}
.plugin-card__info ul.no-marker,
.plugin-card__info ol.no-marker {
  gap: 8px;
}
.plugin-card__info ul.no-marker li,
.plugin-card__info ol.no-marker li {
  list-style: none;
}
.plugin-card__items {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.plugin-card__item {
  flex: 1 1 160px;
  width: calc(50% - 6px);
  background: linear-gradient(154deg, #e8f8fc 0%, #f8f8f6 100%);
  border-radius: 12px;
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  word-break: break-word;
}
.plugin-card__item-label {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.01em;
  line-height: 125%;
}
.plugin-card__item-value {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: var(--color-grey-42);
}
.plugin-card__btn {
  max-width: 100%;
  min-height: 52px;
  font-weight: 400;
  font-size: 15px;
}

.more-btn {
  max-width: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-bottom: 1px solid var(--color-grey-88);
  padding: 14px 32px 17px 32px;
  min-height: 51px;
  font-weight: 400;
  font-size: 15px;
  line-height: 125%;
  color: var(--color-grey-5);
  transition: color 0.15s, border 0.15s;
}
.more-btn::after {
  content: "";
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L8 8L15 1' stroke='%230D0D0D' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 9px;
  transition: background 0.15s;
}
.more-btn:active {
  color: var(--color-cyan-47);
  border-color: var(--color-cyan-47);
}
.more-btn:active::after {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L8 8L15 1' stroke='%232cacc6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
}
@media (width < 62em){
  .case-card--row {
    flex-direction: column;
  }
}
@media (width < 48em){
  .breadcrumbs {
    padding-block: 32px;
  }
  .lang-block__dropdown {
    right: auto;
    left: 0;
  }
}
@media (width < 30em){
  .title {
    line-height: 108%;
  }
  .title--h1 {
    font-size: 32px;
  }
  .title--h2 {
    font-size: 32px;
  }
  .title--h3 {
    font-size: 24px;
  }
  .title--h4 {
    font-size: 20px;
  }
  .subtitle {
    font-size: 12px;
    letter-spacing: 0.12em;
  }
  .subtitle::before {
    content: "";
    margin-top: 7px;
  }
  .input-field__label {
    font-size: 14px;
  }
  .categories-block__wrapper {
    gap: 5px;
  }
  .categories-block__btn {
    min-width: 44px;
    min-height: 44px;
    padding: 12px;
  }
  .categories-block__btn:not(:first-child) {
    min-width: 131px;
  }
  .case-card__quote {
    font-size: 14px;
  }
  .plugin-card {
    padding: 16px;
  }
  .plugin-card > *:not(:last-child) {
    margin-bottom: 16px;
  }
  .plugin-card__name {
    font-size: 24px;
  }
  .plugin-card__info h1 {
    font-size: 32px;
  }
  .plugin-card__info h2 {
    font-size: 32px;
  }
  .plugin-card__info h3 {
    font-size: 24px;
  }
  .plugin-card__info h4 {
    font-size: 20px;
  }
  .plugin-card__info figure figcaption {
    font-size: 12px;
    line-height: 117%;
  }
  .more-btn {
    min-height: 50px;
    font-size: 14px;
  }
  .more-btn::after {
    width: 12px;
    height: 12px;
    background-size: 12px 7px;
  }
}
@media (width >= 30em) and (width < 73.25em){
  .title--h1 {
    font-size: clamp( 32px , -6.8439306358px  +  8.0924855491vw , 88px );
  }
  .title--h2 {
    font-size: clamp( 32px , 18.8208092486px  +  2.7456647399vw , 51px );
  }
  .title--h3 {
    font-size: clamp( 24px , 15.676300578px  +  1.7341040462vw , 36px );
  }
  .title--h4 {
    font-size: clamp( 20px , 17.225433526px  +  0.5780346821vw , 24px );
  }
  .plugin-card__name {
    font-size: clamp( 24px , 21.9190751445px  +  0.4335260116vw , 27px );
  }
  .plugin-card__info h1 {
    font-size: clamp( 32px , -6.8439306358px  +  8.0924855491vw , 88px );
  }
  .plugin-card__info h2 {
    font-size: clamp( 32px , 18.8208092486px  +  2.7456647399vw , 51px );
  }
  .plugin-card__info h3 {
    font-size: clamp( 24px , 15.676300578px  +  1.7341040462vw , 36px );
  }
  .plugin-card__info h4 {
    font-size: clamp( 20px , 17.225433526px  +  0.5780346821vw , 24px );
  }
}
@media (width >= 62em){
  .case-card--row .case-card__head {
    max-width: 50%;
    min-width: 200px;
    flex-shrink: 0;
  }
  .case-card--row .case-card__body {
    border-top: none;
    border-left: 1px solid var(--color-grey-88);
  }
}
@media (width >= 73.25em){
  .title--h1 {
    font-size: 88px;
  }
  .title--h2 {
    font-size: 51px;
  }
  .title--h3 {
    font-size: 36px;
  }
  .title--h4 {
    font-size: 24px;
  }
  .plugin-card__name {
    font-size: 27px;
  }
  .plugin-card__info h1 {
    font-size: 88px;
  }
  .plugin-card__info h2 {
    font-size: 51px;
  }
  .plugin-card__info h3 {
    font-size: 36px;
  }
  .plugin-card__info h4 {
    font-size: 24px;
  }
}
@media (any-hover: hover){
  .button:hover {
    background-color: var(--color-cyan-39);
  }
  .button--secondary:hover {
    border-color: var(--color-cyan-47);
    background-color: var(--color-white-solid);
    color: var(--color-cyan-47);
  }
  .button--secondary.button--dark:hover {
    border-color: var(--color-cyan-47);
    background-color: var(--color-white-solid);
    color: var(--color-cyan-47);
  }
  .button--third:hover {
    background-color: var(--color-grey-42);
  }
  .breadcrumbs__link[href]:hover {
    color: var(--color-black);
  }
  .breadcrumbs__link[href]:hover:not(:last-child)::after {
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='16' viewBox='0 0 8 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.77259 8.47377L3.00126 12.2451L2.05859 11.3024L5.35859 8.00243L2.05859 4.70243L3.00126 3.75977L6.77259 7.5311C6.89757 7.65612 6.96778 7.82566 6.96778 8.00243C6.96778 8.17921 6.89757 8.34875 6.77259 8.47377Z' fill='%23000000' /%3E%3C/svg%3E");
  }
  .input:hover {
    border-color: rgb(13, 13, 13);
  }
  .region-block__current:hover {
    background-color: var(--color-grey-95);
    border-color: var(--color-cyan-47);
  }
  .region-block__option:hover {
    color: var(--color-grey-42);
  }
  .search-field__input:hover {
    border-color: rgb(13, 13, 13);
  }
  .search-field__icon:hover {
    color: var(--color-grey-5);
  }
  .lang-block__current:hover {
    background-color: var(--color-grey-95);
    border-color: var(--color-cyan-47);
  }
  .lang-block__link:hover {
    background-color: var(--color-grey-97);
  }
  .video-block__play:hover {
    box-shadow: none;
    background-color: var(--color-grey-97);
  }
  .socials-block__link:hover {
    border-color: var(--color-cyan-47);
    color: var(--color-cyan-47);
  }
  .categories-block__btn:not(.is-active, .disabled, [disabled]):hover {
    color: var(--color-grey-42);
  }
  .filters-block__btn:hover {
    color: var(--color-grey-5);
  }
  .article-card___title[href]:hover {
    color: var(--color-cyan-39);
  }
  .plugin-card__info a:not([class]):hover {
    color: var(--color-cyan-39);
    text-decoration: none;
  }
  .more-btn:hover {
    color: var(--color-cyan-47);
    border-color: var(--color-cyan-47);
  }
  .more-btn:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L8 8L15 1' stroke='%232cacc6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
  }
}